<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="cs" connectionString="server = localhost\SQLEXPRESS;database=Logisticss;Trusted_Connection=True;MultipleActiveResultSets=true" />
  </connectionStrings>
  <appSettings>
    <add key="AddInitialDataOnDatabaseCreate" value="true"/>
  </appSettings>
</configuration>